torch>=2.6.0
torchvision>=0.19.0
opencv-python>=4.9.0.80
diffusers==0.34.0
transformers==4.53.1
#transformers==4.46.3 # was needed by llamallava used by i2v hunyuan before patch
tokenizers>=0.20.3
accelerate>=1.1.1
tqdm
imageio
easydict
ftfy
dashscope
imageio-ffmpeg
# flash_attn    
gradio==5.23.0   
numpy>=1.23.5,<2
einops
moviepy==1.0.3
mmgp==3.5.10
peft==0.15.0
mutagen
pydantic==2.10.6
decord
onnxruntime-gpu
rembg[gpu]==2.0.65
matplotlib
timm
segment-anything
omegaconf
hydra-core
librosa==0.11.0
loguru
sentencepiece
av
opencv-python
pygame>=2.1.0
sounddevice>=0.4.0
# rembg==2.0.65
torchdiffeq >= 0.2.5
tensordict >= 0.6.1
open_clip_torch >= 2.29.0
pyloudnorm
misaki
soundfile
ffmpeg-python
pyannote.audio
pynvml
piexif
#huggingface_hub[hf_xet]  #slow down everything !!!!
# num2words
# spacy